<div id="<%= dom_id datum %>">
  <p>
    <strong>Nama:</strong>
    <%= datum.nama %>
  </p>

  <p>
    <strong>Data nama:</strong>
    <%= datum.data_nama %>
  </p>

  <p>
    <strong>:</strong>
    <%= datum. %>
  </p>

</div>
